<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Documento</title>
        <style>
            body{
                font-family: sans-serif;
            }
        </style>
    </head>

    <body>
        <h1>Olá, {{username}}</h1>
        <p>Bem-vindo ao <b>Indiefy!</b></P>
        <p>
            O Indiefy é um marketplace voltado para a divulgação e comercialização de músicas independentes. Esperamos que você tenha
            uma ótima experiência conosco!
        </p>
    </body>
</html>